doctype html
html(ng-app="MailClient")
  head
    title Mail Client
    link(rel="stylesheet" href="/lib/foundation/css/foundation.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    include ./includes/nav
    .container(ng-view)
    include ./includes/scripts