nav.top-bar
  ul.title-area
    li.name
      a
        img.logo(src="favicon.ico")
  section.top-bar-section
    ul.right
      li
        a(href="#/home") Home
      li
        a(href="#/settings") Settings