script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/foundation/js/foundation.js")
script(type="text/javascript" src="/app/app.js")f